.button-dark {
    color: #3a3153;
    background-color: #ffc75f;
    border: hidden;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-dark:hover {
    background-color: #000000;
    color: #ffc75f;
    transform: scale(1.05);
}

.button-dark:active {
    transform: scale(0.95);
}

@media (max-width: 321px) {
    .button-dark {
        font-size: 20px !important;
    }
}