
.ͼe {
    color: #a6e22e !important;
}

.ͼj {
    color: #fcfcfc !important;
}

.ͼd {
    color: #57959d !important;
}

.ͼb {
    color: #e2a92e !important;
}

.ͼg {
    color: #fcfcfc !important;
}

.ͼl {
    color: #9b6fd0 !important;
}

.ͼi {
    color: #cec179 !important;
}

.ͼ5 {
    color: #cec179 !important;
}
.cm-content {
    font-family: "JetBrains Mono", monospace;
}

.cm-gutterElement {
    color: #fcfcfc !important;
background-color:  #44475a !important;

}
.cm-gutter {
    color: #fcfcfc !important;
background-color:  #44475a !important;

}
.cm-foldGutter {
    color: #fcfcfc !important;
background-color:  #44475a !important;

}
.cm-activeLineGutter {
    color: #fcfcfc !important;
background-color:  #44475a !important;

}